<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success text-center">
                <h2>You have successfully created Student account</h2>
                 <p>Thank you!</p>
                <hr />
                <p>You can now check for updated student database.</p>
                <a class="btn btn-secondary" asp-controller="Account" asp-action="Users">Back</a>
            </div>

        </div>
    </div>
</div>
