
@model Contacts

@{
    ViewData["Title"] = "Contact Details";
}

<h1>Contact Details</h1>

<div>
    

    <h4>EmailAddress:</h4>
    <p>CustomerCare@31.co.za</p>
     <p>OrderServices@31.co.za</p>
      <p>FAQ@cob.com</p>


    <h4>Phone: </h4>
    <p>Phone Number: 078 263 0401 </p>
    <p>Tell Number: 033 890 5677</p>
</div>

<p>
    <a asp-action="Index">Back to Contacts List</a>
</p>

