<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
  
  </style>
</head>


<body>
    <div class="back">
    <center>

     <p style="font-size:50px; color:white; padding-top:1px">Welcome To City Of Brunch!</p>
     <div>
          <div class="inavbar">
    <a href="https://localhost:7012/Store/Details/1">Shoprite</a>
    <a href="https://localhost:7012/Store/Details/2">Checkers</a>
    <a href="https://localhost:7012/Store/Details/3" >Spar</a>
    <a href="https://localhost:7012/Store/Details/4">Pick n Pay</a>
  </div>
   <div  style="font-size:50px; color:white">
    <h4>Discover the best products at LOWER cost!.</h4>
    <p>Unleash Your Shopping Potential with a Few Clicks. It's Fast, Easy, and Secure.</p>

     </div>
    </div>
    </center>
 
  </div>
 


</body>
</html>



