@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>1. The online application is exclusively available to registered students of eligible educational institutions.</p>
<p>2. Users must create an account and provide accurate personal information to use the application.</p>
<p>3. The application is only accessible to students above the legal age for online transactions.</p>
<p>4. Users are responsible for maintaining the confidentiality of their account credentials.</p>
<p>5. Users agree not to share their account details with other individuals.</p>
<p>6. Users must adhere to the store-specific terms and conditions, including their ordering policies and payment methods.</p>
<p>7. The application is not responsible for the quality, accuracy, or availability of the food items offered by the stores.</p>
<p>8. Users agree to pay the listed prices for the ordered items, including applicable taxes. </p>
<p>9. The application reserves the right to suspend or terminate a user's account for violations of the terms and conditions or fraudulent activity.</p>
<p>10. The application may use user data, including order history and preferences, to personalize the user experience and improve its services.</p>
