<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Oops! We could not find the product you are looking for</h2>
        <p>Please try to search using product name or category.</p>
        <hr />
        <p>
            <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Go back</a>
        </p>
    </div>
</div>
        